VIM/trunk/ManheimVIM/applications/vim/schemas/schemas/import-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->

<xs:schema targetNamespace="http://www.manheim.com/vim/schemas/config/import"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:importconfig="http://www.manheim.com/vim/schemas/config/import"
           xmlns:metadata="http://www.manheim.com/vim/schemas/config/metadata"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

<xs:import namespace="http://www.manheim.com/vim/schemas/config/metadata" schemaLocation="metadata.xsd" />

  <xs:element name="import-config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="providerName" type="xs:string" nillable="false" maxOccurs="1"/>
        <xs:element name="deleteAfterLoad" type="xs:boolean" nillable="false" maxOccurs="1"/>
        <xs:element name="basePath" type="xs:string" nillable="false" maxOccurs="1"/>
        <xs:element name="groupId" type="xs:string" nillable="false" maxOccurs="1"/>
        <xs:element name="batchId" type="xs:string" nillable="true" maxOccurs="1"/>
        <xs:element name="logRequired" type="xs:boolean" nillable="false" maxOccurs="1"/>
        <xs:element name="defaultAttributes" type="metadata:metadata" nillable="true" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>