VIM/trunk/ManheimVIM/applications/vim/schemas/schemas/manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->

<xs:schema targetNamespace="http://www.manheim.com/vim/schemas/config/manifest"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:manifest="http://www.manheim.com/vim/schemas/config/manifest"
           xmlns:metadata="http://www.manheim.com/vim/schemas/config/metadata"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="http://www.manheim.com/vim/schemas/config/metadata" schemaLocation="metadata.xsd" />
  
  <xs:element name="manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadataEntries" type="manifest:metadataEntry" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="metadataEntry">
    <xs:sequence>
        <xs:element name="imageName" type="xs:string" nillable="false" maxOccurs="1"/>
        <xs:element name="metadata" type="metadata:metadata" nillable="false" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>