VIM/trunk/ManheimVIM/applications/vim/schemas/schemas/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->

<xs:schema targetNamespace="http://www.manheim.com/vim/schemas/config/metadata"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:metadata="http://www.manheim.com/vim/schemas/config/metadata"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  
  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element name="name" type="xs:string" nillable="false" />
      <xs:element name="value" type="xs:string" nillable="false" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>