VIM/trunk/ManheimVIM/applications/vim/schemas/schemas/vim-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->

<xs:schema targetNamespace="http://www.manheim.com/vim/schemas/config/vim"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vimconfig="http://www.manheim.com/vim/schemas/config/vim"
           xmlns:metadata="http://www.manheim.com/vim/schemas/config/metadata"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

<xs:import namespace="http://www.manheim.com/vim/schemas/config/metadata" schemaLocation="metadata.xsd" />

  <xs:element name="vim-config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="maxExecutionTime" type="xs:long" nillable="true" maxOccurs="1"/>
        <xs:element name="numberOfThreads" type="xs:int" nillable="false" maxOccurs="1"/>
        <xs:element name="maxAttempts" type="xs:int" nillable="false" maxOccurs="1"/>
        <xs:element name="groups" type="vimconfig:group" minOccurs="1" maxOccurs="unbounded" />
        <xs:element name="defaultAttributes" type="metadata:metadata" nillable="true" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element name="groupId" type="xs:string" nillable="false" maxOccurs="1"/>
      <xs:element name="serverInstances" type="vimconfig:serverInstance" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="serverInstance">
    <xs:sequence>
      <xs:element name="serverName" type="xs:string" nillable="false" maxOccurs="1"/>
      <xs:element name="serverUrl" type="xs:string" nillable="false" maxOccurs="1"/>
      <xs:element name="serverPort" type="xs:string" nillable="false" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>